body {
    background-color: #dddddd;
}
h1 {
    float: center;
    color: black;
    background-color: #4aaaa5;
}

#main-bio { 
    width: 960 em;
    padding: 1em;
    boarder: 5 em;
    margin: 0;
    color: black;
    background-color:white;

}

header{
    float:left;
    width: 20%;
    padding: 1em;
    boarder: 5 em;
    margin: 0;
    background-color: #4aaaa5;
    color: #ffffff;
}
.container{
    clear: both;
    width: 100%;
    float:left;
    width: 960 em;
    margin: 0 auto;
    margin-left: auto;
    float: left;

}


#contact-info{
    float:right;
    padding: 2em;
    width: 10%;
}
#portfolio{
    clear: both;
    float:right;
    width: 10%
}
contact-info, #portfolio{
    clear: both;
    float: right;
    padding: 2em;

}s